.container {
    min-width: 400px; 
    background-color: #96B6C5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    float: left; 
    border-right: 1px solid;
    overflow-y: scroll;
    min-height: 100vh;
    position: relative;
    height: 100%;
    
}

.container h1 {
    text-align: center;
}

.single-unit-folder {
    width: 90%;
    padding: 5px; 
    margin-left: 15px;
    cursor: pointer;
}

.add-folder {
    position: fixed;
    bottom: 5%;
    right: 80%;
}

.button-add-folder:hover {
    background-color: rgb(244, 232, 232);
}


.button-add-folder{
    margin-left: auto;
    width: 70px;
    height: 70px;
    /* border: 2px solid; */
    border-radius: 50%;
    background-color: white;
    box-shadow: 10px 6px 22px -7px rgba(0,0,0,0.75);
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;

}

.button-title {

    display: flex;
    height: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;

}

#add-folder:hover {
    background-color: #eee0e0;
   
}


.selected-folder {
    color: whitesmoke
}

.container-3 {
    display: flex;
    justify-content: flex-end;
}





.delete-button {
    margin-top: 15px;
    height: 30px;
    width: 30px;
    background-color: #ffc8dd;

}

.delete-button button {
    cursor: pointer;

}



.delete-button img {
    width: 25px;
    height: 25px;
    object-fit: contain;
    
}



.folder-container {
    display: flex;
    justify-content: space-between;
    max-width: 350px;
    
}


.folder-container .delete-button {
    display: none;
}

.folder-container:hover .delete-button {
    display: block

}

.folder-container h3 {
    font-size: 20px;
}

.text-container {
    max-width: 250px;
    word-wrap: break-word;
}

.note-text {
    margin-top: 45vh;
    text-align: center;
}

