<div class="container">

    <h1>Folders</h1>
    
    <div class="single-unit-folder" *ngFor="let folder of this.folderArray; let i = index">
                <div class="folder-container"
                (click)="onEmitFolder(i)"
                >
                    <div class="text-container">
                        <h3 
                        [ngClass]="{'selected-folder': i === clickedFolderIndex}"
                        >{{ folder.folderName }}
                        </h3>
                    </div>
                   <div class="delete-button">
                    <button
                    (click)="onDelete(i)"
                    >
                    <img src="https://cdn-icons-png.flaticon.com/512/3405/3405244.png" alt="delete">
                </button>
                   </div>
                </div>
                <hr style="border-width: 2px; color: black;">            
    </div>
    <div class="add-folder">
        <div class="button-add-folder" (click)="addFolder()">
            <h1 class="button-title">+</h1>
        </div>

    </div>
    
</div>