<div class="container">
    <h1>Folders</h1>
    
    <div class="container-2" *ngFor="let folder of folderArray; let i = index">
                <h3 
                (click)="onEmitFolder(i)"
                >{{ folder.folderName }} <span><button
                     (click)="onDelete(i)"
                     >Delete</button>
                    </span>
                </h3>
            <hr>
            
    </div>
    <div class="container-3">
        <button id="add-folder" (click)="addFolder()">+</button>

    </div>
    
</div>