/* .container {
    margin-top: 52vh;
    margin-left: 30vh;
} */

.container {
    /* margin-top: 52vh;
    margin-left: 35vh; */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: auto auto; */
}