.container {
    margin: 100px;
}



textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}

#save {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(217, 242, 153);

}

#delete {
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(232, 175, 134);
}

button:hover {
    background-color: #f0f0f0;
}



button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
