

<div class="container">
        <ng-container *ngIf="notesArray.length > 0; else selectNoteMessage">
            <div>
                <textarea rows="45" cols="105" [(ngModel)]="notecontent"></textarea>
            </div>
            <div class="buttonContainer">
                <button id="save" (click)="saveNoteContent()">Save</button>
                <button id="delete" (click)="deleteNoteContent(); funCardEmit()">Delete</button>
            </div>
        </ng-container>
        <ng-template #selectNoteMessage>
            <div class="box-card">
                <app-box-card></app-box-card>

            </div>
            
        </ng-template>
</div>





<!-- <div class="container">
    <div>
        <textarea rows="45" cols="105" [(ngModel)]="notecontent"></textarea>
    </div>
    <div class="buttonContainer">
        <button id="save" (click)="saveNoteContent()">Save</button>
        <button id="delete" (click)="deleteNoteContent()">Delete</button>
    </div>
</div>

<!-- <ng-template #cardContent>
    <div>Hi works</div>
</ng-template> --> 
