
.container {
      
       justify-content: center;
       flex-direction: column;
       margin: 140px 100px 100px 100px;
       width: 100%;
       
   }
  

textarea {
    border: 2px solid;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    max-width: 70%;
}

#save {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(206, 242, 115);
    color: white;


}

#delete {
    margin-left: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(235, 153, 94);
    color: white;
   
}

#save:hover {
    background-color: green;
}

#delete:hover {
    background-color: red;
}


.buttonContainer {
    display: flex;
    margin-top: 15px;
    
}



button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.box-card {
    width: 100%;
    text-align: center;
   
   
}




