<div class="container">
        <div *ngIf="notesArray.length > 0; else selectNoteMessage">
            <div>
                <textarea rows="45" cols="105" [(ngModel)]="notecontent"></textarea>
            </div>
            <div class="buttonContainer">
                <button id="save" (click)="saveNoteContent()">Save</button>
                <button id="delete" (click)="deleteNoteContent(); funCardEmit()">Delete</button>
            </div>
        </div>
        <ng-template #selectNoteMessage>
                <app-box-card></app-box-card>
        </ng-template>
</div>






