<div class="row">
<app-folders (folderValueEmit)="folderEmit($event)" (deleteValueEmitter)="deleteFolderEmit($event)"
></app-folders>
<app-notes [folderindex]="folderIndex"  (onEmitNoteMain)="noteEmit($event)" [noteindex]="noteIndex2" 
[changeFolder]="randomNumberFolder" [changeNote]="randomNumberNote"
></app-notes>

<app-box-card *ngIf="noteIndex === undefined; else appCard "></app-box-card>
<ng-template #appCard>
    <app-card [folderindex]="folderIndex2" [noteindex]="noteIndex" (cardEmitter)="mainCardEmit($event)" (deleteNoteEmitter)="deleteNoteEmit($event)"></app-card>
</ng-template>


</div>

