
.container {
    min-width: 400px; 
    background-color:  #EEEEEE;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    float: left; 
    border-right: 1px solid;
    overflow-y: scroll;
    min-height: 100vh;
    position: relative; 
    overflow-y: scroll;
    height: 100%;
    scrollbar-width: none;
    
}


#add-notes:hover {
    background-color: #f1f1f1;
   
}


.container h1 {
    text-align: center;
}


.selected-folder {
    color: grey;
}



.add-note {
    position: fixed; 
    bottom: 5%; 
    right: 50%;
}

.button-add-notes:hover {
    background-color: rgb(244, 232, 232);
}



.button-add-notes{
    margin-left: auto;
    width: 70px;
    height: 70px;
 
    border-radius: 50%;
    background-color: white;
    box-shadow: 10px 6px 22px -7px rgba(0,0,0,0.75);
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;

}

.button-title {

    display: flex;
    height: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;

}


.single-unit-note {
    width: 90%;
    padding: 5px; 
    margin-left: 15px;

}




.text-container {
    max-width: 250px;
    word-wrap: break-word;
    cursor: pointer;
}

.note-text {
    margin-top: 45vh;
    text-align: center;
}