
.container {
    min-width: 400px; 
    background-color:  #cdb4db;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    float: left; 
    border-right: 2px solid;
    overflow-y: scroll;
    min-height: 100vh;
    position: relative; 
    overflow-y: scroll;
    
}




h1 {
        margin-left: 15px;
       
    }


#add-notes:hover {
    background-color: #f1f1f1;
   
}





.selected-folder {
    color: whitesmoke;
}



.add-note {
    position: absolute; 
    bottom: 5%; 
    right: 8%;
}

.button-add-notes:hover {
    background-color: rgb(244, 232, 232);
}


.button-add-notes{
    margin-left: auto;
    width: 70px;
    height: 70px;
    border: 2px solid;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 2px 6px rgba(208, 188, 188, 0.1);
    transition: background-color 0.3s, transform 0.3s

}

.button-title {
    text-align: center;
    margin-top: 15px;
    margin-left: 2px;
}


.single-unit-note {
    width: 90%;
    padding: 5px; 
    margin-left: 15px;

}




.text-container {
    max-width: 250px;
    word-wrap: break-word;
}

.note-text {
    margin-top: 40vh;
    text-align: center;
}